.container{
    width: 80%;
    margin: auto;
        
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.logo img{
    height: 100px;
}
.logo{
   
    
}
.line_separator{
    height: 3px;
    background-color: black;
    width: 100%;
    margin: 10px ;
}
.main_image{
    width: 100%;
    margin: 10px 0;
}
.text{
    display: flex;
    justify-content: center;
}
.featured{
    display: flex;
    justify-content: space-between;
    
}
.work img{
    height: 200px;
    justify-content: center;
    flex-grow: 0;
}
.work{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
